<html>
    <body>
        <center>
            <h2>Posts</h2>
            <p>{{postList}}</p>
            <table>
                {% for post in postsList %}
                <tr><th><a href="{% url 'Post:PostDetail' post.id %}">{{post.title}}</a></th></tr>
                {% endfor %}
            </table>
            <form method="post" action="{% url 'Post:Post' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit"/>
            </form>
        </center>
    </body>
</html>